<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 3 + Firebase Example</title>
</head>
<body>
  <div id="app">
    <h1>Vue 3 + Firebase Example</h1>    
    <button @click="writeData">寫入資料</button>
    <button @click="readData">讀取資料</button>
    <div>
      <label>姓名{{userName}}</label>
      <input v-model="userName" />
    </div>
    <hr>
      <label>開團名稱</label><input v-model="groupInfo.gName" />
      <label>聯絡手機</label><input v-model="groupInfo.gPhone" />
      <label>設定進入碼</label><input v-model="groupInfo.gPw" />
      <button @click="newGroup">新開團購</button>
      <button @click="intoGroup">進入團購</button>
    <hr>
    <ul>      
      <li v-for="order in orders" :key="order.id">
        <button @click="deleteData(order.id)">刪除</button>
        <button @click="addOrder(order.id)">新增</button>
        <button @click="getSubOrder(order.id)">訂單</button>
        <strong>訂單 ID：</strong>{{ order.id }}，<strong>訂單資料：</strong>{{ order.data.name }}，<strong>pw：</strong>{{ order.data.pw }}
      </li>
    </ul>
    <hr>
    <ul v-if="subOrders">
      <li v-for="item in subOrders" :key="item.id">
        <p>{{item.id}}</p>
        <p>{{item.data.pname}}</p>
        <p>{{item.data.ppw}}</p>
        <div v-if="item.data.order">
          <p v-for="od in item.data.order">{{od.id}} - {{od.count}}</p>
        </div>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
  <script src="./firebase.js"></script>
  <script>
    const { createApp, ref } = Vue;

    const setup = () => {
      const orders = ref({});
      const subOrders = ref(null);
      const userName = ref("");
      const groupInfo = ref({});
      const writeData = async () => {
        const collectionName = 'order';
        const data = {
          // 新增的資料
          name: "黃蓉",
          phone: "0988123456",
          pw: "3721",
          data: [
              {
                  pname: "郭靖",
                  ppw: "6855",
                  order: [
                      { id: "1", count: 2 },
                      { id: "4", count: 5 }
                  ]
              },
              {
                  name: "黃藥師",
                  ppw: "2124",
                  order: [
                      { id: "0", count: 1 },
                      { id: "1", count: 1 },
                      { id: "3", count: 1 }
                  ]
              },
              {
                  name: "洪七公",
                  ppw: "8899",
                  order: [
                      { id: "2", count: 3 },
                      { id: "4", count: 3 },
                      { id: "7", count: 5 }
                  ]
              }
          ]
        };

        await Firebase.addData(collectionName, data);
        readData();
      };

      const readData = async () => {
        const collectionName = 'order';
        // 讀取資料的程式碼
        // let res = await Firebase.getData(collectionName, data);
        orders.value = await Firebase.getData();
        console.log("orders = ", orders.value);
        
      };

      const deleteData = async (id) => {
        console.log("要刪除的id " + id)
        orders.value = await Firebase.deleteOrder(id);
        readData();
      }
      const addOrder = async (id) => {
        console.log("要新增訂單的id " + id)
        await Firebase.addSubCollection(id, "subOrder", {
          pname: userName.value,
          ppw: "6833",
          order: [
              { id: "0", count: 2 },
              { id: "2", count: 5 }
          ]
        })
      }
      const getSubOrder = async (id) => {
        subOrders.value = await Firebase.getSubCollectionData(id, "subOrder");
        console.log("^^^^ ", subOrders.value);
      }
      const newGroup = async () => {
        console.log("新開團 " , groupInfo.value)
        if(!groupInfo.value.gName || !groupInfo.value.gPhone || !groupInfo.value.gPw) {
          console.log("資料未填完整 " + groupInfo.value.gName + " / " + groupInfo.value.gPhone + " / " + groupInfo.value.gPw)
          return;
        }
        const collectionName = 'groupOrder';
        await Firebase.addData(collectionName, groupInfo.value);
      }
      const intoGroup = async () => {
        if(!groupInfo.value.gName || !groupInfo.value.gPhone || !groupInfo.value.gPw) {
          console.log("資料未填完整 " + groupInfo.value.gName + " / " + groupInfo.value.gPhone + " / " + groupInfo.value.gPw)
          return;
        }
        const collectionName = 'groupOrder';
        // await Firebase.addData(collectionName, groupInfo.value);
        let gId = await Firebase.findGroup(groupInfo.value.gPhone, groupInfo.value.gPw);
        console.log("@@@@@ " + gId);
        
        // 讀取資料的程式碼
        // let res = await Firebase.getData(collectionName, data);        
        const documentData = await Firebase.getDocumentById(collectionName, gId);
        console.log("//////", documentData);
      }

      return {
        newGroup,
        intoGroup,
        writeData,
        readData,
        deleteData,
        addOrder,
        getSubOrder,
        groupInfo,
        orders,
        subOrders,
        userName
      };
    };

    const app = createApp({
      setup,
    });

    app.mount('#app');
  </script>
</body>
</html>
